*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #25283D;
}

h1{
    text-align: center;
    color:whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}

#message {
    text-align: center;
    white-space: pre-line;
}